<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Fast Hire Careers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">  
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Fast Hire Careers</h1>
                        
            <img class="img-fluid" src="https://t4.ftcdn.net/jpg/04/67/93/01/360_F_467930159_UcfrOkjhFG436zoT9fSetYccBgpNkokp.jpg" >
    
            <h1 class="text-center">About Fast Hire Careers</h1>
            <p class="lead">
                Lorem ipsim sdasdLorem ipsim sdasdLorem ipsim sdasdLorem,
                Lorem ipsim sdasdLorem ipsim sdasdLorem ipsim sdasdLorem ipsim sdasd
                Lorem ipsim sdasdLorem ipsim sdasdLorem ipsim sdasd,
                Lorem ipsim sdasdLorem ipsim sdasdLorem ipsim sdasdLorem ipsim sdasd,
                Lorem ipsim sdasdLorem ipsim sdasdLorem ipsim sdasd
            </p>
            <h2 class="text-center">Open Positions</h2>
            <p>
                {%for job in jobs%}
                {%include 'jobitem.html'%}
                {%endfor%}
            </p>
            <div class="text-center">
            <button class="btn btn-primary">Contact US</button>
            <p>Copyright 2024 Fast Hire Careers</p>
            </div>
        </div>
    </body>
    </html>
